body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    text-align: center;

}

input,
button {
    padding: 8px;
    margin: 5px;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}